p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.model {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.order {
    font-size: 15;
}
.touch {
    text-decoration: underline;
}